<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Language" content="en" />

    <title>Welcome to Turbo 360</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
  </head>

  <body>
    <div id="root" class="container">
      <form action="/register/user" method="POST">
        <div class="row pt-2">
          <div class="d-flex flex-column col-4 mx-auto">
            <input class="form-control mb-1" type="text" name="name" placeholder="Name" />
            <input class="form-control mb-1" type="text" name="occupation" placeholder="Occupation" />
            <input class="btn btn-primary" type="submit" value="submit" />
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
