<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="p-1 container">
      <p>Name: {{ name }}</p>
      <p>Company: {{ company }}</p>
      <p>Languages</p>
      <ol>
        {{#languages}}
        <li>
          {{.}}
        </li>
        {{/languages}}
      </ol>
      <form action="/addprofile" method="POST" class="col-6">
        <input class="form-control mb-1" type="text" name="name" placeholder="Name" />
        <input class="form-control mb-1" type="text" name="company" placeholder="Company" />
        <input class="form-control mb-1" type="text" name="languages" placeholder="Languages" />
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </div>
  </body>
</html>
