@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';

$theme-colors: (
  'warning': #14213d,
);

li {
  list-style-type: none;
}
ul {
  padding-inline-start: 0px;
}

@import 'bootstrap/scss/bootstrap';
